@import './logo/styles';
@import './account/styles';
@import './primaryNav/styles';

.head {
  @include constrainWidth();
  padding: 12px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .logo {
    margin-left: 12px;
  }

  .account {
    margin-right: 12px;
    justify-self: flex-end;
  }

  .primaryNav {
    margin-top: 12px;
    border-top: solid 1px #ccc;
  }
}

@media only screen and (min-width: 540px) {
  .head {
    padding: 12px 0;

    .logo {
      order: 0;
    }

    .primaryNav {
      margin-top: 0;
      margin-left: 24px;
      border-top: none;
      order: 1;
      flex-grow: 1;
    }

    .account {
      order: 2;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .head {
    .regulation {
      display: block;
      flex-basis: 100%;
    }
  }
}
