@import './carousel/styles';
@import './exampleContent/styles';

.content {
  background-color: $content-background-color;
  color: $content-font-color;

  .search {
    margin-bottom: 12px;
  }

	.carouselWrappedContent {
    /* ensure it's displayed above the carousel fade */
    z-index: 2;
    position: relative;
	}
}

@media only screen and (min-width: 767px) {
  .content {
    .search {
      display: none;
    }
  }
}
