@import './help/styles';
@import './address/styles';
@import './safetyAndResponsibility/styles';
@import './paymentMethods/styles';
@import './sponsorship/styles';

.footer {
  @include constrainWidth();
  @include smallText();
  color: $font-color-muted;
  padding: 12px;

  .image {
    height: 24px;
  }

  .compliance {
    flex-direction: column-reverse;

    .complianceText {
      text-align: center;
    }

    .list {
      margin-left: 0;
    }
  }

  .address,
  .help,
  .safetyAndResponsibility,
  .paymentMethods,
  .sponsorship {
    margin-top: 12px;
  }

  h2.heading {
    @include smallText();
  }
}

@media only screen and (min-width: 767px) {
  .footer {
    display: flex;

    > div {
      flex: 1 1;
    }

    .compliance {
      align-items: flex-start;

      .complianceText {
        text-align: left;
      }
    }

    .address {
      text-align: left;
    }

    .help {
      .list {
        align-items: flex-start;
        flex-direction: row;
        white-space: nowrap;
      }

      .listItem {
        flex-grow: 0;
      }

      .listItem + .listItem {
        margin-left: 12px;
      }
    }
  }
}
