.primaryNav {
  display: flex;
  flex-basis: 100%;

  .link {
    color: rgb(0, 31, 91);
    font-size: 16px;
    font-weight: 500;
    min-height: 44px;
    padding: 12px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    span {
      position: relative;
    }

    &.selected > span::before {
      background-color: rgb(0, 31, 91);
      content: '';
      position: absolute;
      width: 100%;
      bottom: 0px;
      height: 3px;
    }
  }

  @media (any-pointer: none) {
    .link {
      display: none;
    }
  }

  .list {
    flex: 1;
    flex-direction: row;

    .listItem + .listItem {
      border-left: solid 1px rgba(0, 0, 0, 0.2);
    }
  }
}

@media only screen and (min-width: 540px) {
  .primaryNav {
    flex-basis: initial;

    .list {
      flex-grow: 0;
    }

    .link {
      font-size: 20px;
      flex-grow: 0;
    }

    .list {
      .listItem + .listItem {
        border-left: none;
      }
    }
  }
}
