.search {
	-webkit-box-align: center;
	border-radius: 3px;
	border-color: #ccc;
	border-width: 1px;
	background-color: #FFF;
	display: flex;
	padding: 3px;
	align-items: center;
	align-content: center;
  border-style: none;
  width: 100%;

	.label,
	.searchResults,
	.resetSearch {
		display: none;
	}

	.icon {
		margin-right: 8px;
	}

	.inputContainer {
		position: relative;
		width: 100%;
		display: flex;
		align-items: center;
		padding: 0 8px;
	}

  .input {
		outline: none;
		font-size: 16px;
    font-weight: 500;
    border: none;
    width: 100%;
    height: 32px;
		color: #2C2E31;

		&:focus ~ .searchResults {
			display: block;
			position:absolute;
			top: 100%;
			top: calc(100% + 3px);
			left: 0;
			right: 0;
			padding: 12px;
			background-color: yellow;
		}

		&:focus ~ .resetSearch {
			cursor: pointer;
			display: inline-block;
			color: #2C2E31;
		}
  }
}
