@import './promotionsLink/styles';
@import './secondaryNav/styles';
@import './navBarSearch/styles';

.navBar {
	display: flex;
  flex: 1;
	background-color: rgb(0, 31, 91);

	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 3; // sits above carousel, which sits above content
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,.18);

  .navBarInner  {
    @include constrainWidth();
    display: flex;
    width: 100%;
    height: 60px;

    .secondaryNav {
      align-self: flex-start;
    }

    .promotionsLink {
			flex: 0 0 96px;
			justify-self: flex-end;
    }

    .navBarSearch {
      display: none;
    }

    .promotionsLink::after,
    .navBarSearch::after{
      background-color: #28457B;
      content:'';
      position: absolute;
      height: 100%;
      left: 0;
      width: 1px;
    }
  }
}

@media only screen and (min-width: 767px) {
  .navBar  {
    .navBarInner {
			.promotionsLink {
				flex: 0 0 120px;
			}

      .navBarSearch {
        display: flex;
        flex-basis: 264px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .navBar  {
    .navBarInner {
			.promotionsLink {
				flex: 0 0 180px;
			}
    }
  }
}

