.icon {
	font-family: 'SkyIcon';
	font-size: normal;
  font-style: normal;
  font-weight: normal;
	font-variant: normal;
	line-height: 1;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
}
