.paymentMethods {
  text-align: center;

  .list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .listItem {
    flex-grow: 0;
  }

  .listItem + .listItem {
    margin-left: 12px;
  }
}

@media only screen and (min-width: 767px) {
  .paymentMethods {
    text-align: right;

    .list {
      justify-content: flex-end;
    }
  }
}
