.exampleContent {
  @include constrainWidth();
  padding: 12px;
  color: grey;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,.18);
}

.article {

}

.section {
  background-image: radial-gradient(rgb(44, 68, 96), rgb(22, 34, 48));
  padding:24px;
  color: white;
  min-height: 300px;

  + .section {
    margin: 0;
    margin-top: 12px;
  }
}
