/*
the caroiusel sets a bg image on a wrapping div, full width.
the fade is achieved with an abs positioned psuedo element, fixed in height.
the content within the wrapped carousel that sits above the fade needs rasing with z-index.
*/
.carousel {
  background-size: 100% 288px;

  background-repeat: no-repeat;
  background-position: center - 10px;
  -webkit-transition: background-image $transition ease-in-out;
  transition: all $transition ease-in-out;
  position: relative;

  &::before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    height: 288px;
    width: 100%;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 240px,
      rgb(0, 0, 0) 288px
    );
  }

  .button {
    flex-grow: 0;
  }

  .slides {
    @include constrainWidth();
    position: relative;
    height: 240px;
  }

  // fixed to the bottom of the element's fixd 240px height, positions the default content, which is a button
  .slide {
    display: flex;
    flex: 1;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: auto;
    left: 36px; // match the slides container padding value
    right: 36px; // match the slides container padding value
  }

  nav {
    @include constrainWidth();
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: 12px;
    z-index: 2;

    .next,
    .prev {
      bottom: 36px;
      color: white;
      font-size: 36px;
      line-height: 1;
      min-height: 44px;
      padding: 0;
      position: absolute;
      right: 0px;
      width: 36px;
    }

    .prev {
      left: 0px;
      transform: rotateY(180deg);
    }

    .goToSlide {
      // type of .button, move there? pill button? more a style. actually link? jesus. guild!
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.5);
      width: 50px;
      border-radius: 4px;
      border-style: none;
      height: 8px;
      transition: background-color $transition;

      + .goToSlide {
        margin-left: 6px;
      }

      &.current {
        background-color: rgba(255, 255, 255, 1);
      }
    }
  }

  .list {
    justify-content: center;
    flex-direction: row;
  }

  .listItem {
    flex: 0;

    + .listItem {
      margin-left: 8px;
    }
  }
}

@media only screen and (min-width: 547px) {
  .carousel {
    background-position: center 0px;
    background-size: 100% 264px;

    &::before {
      height: 264px;
      background-image: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 168px,
        rgb(0, 0, 0) 264px
      );
    }

    .slide {
      background-color: rgba(255, 255, 255, 0.24);
      top: 12px;
      align-items: center;
      bottom: 12px;
      left: 60px; // match the slides container padding value
      right: 60px; // match the slides container padding value
    }

    nav {
      margin-top: 0;

      .next,
      .prev {
        bottom: 120px;
        font-size: 48px;
        line-height: 1;
      }

      .next {
        right: 8px;
      }

      .prev {
        left: 8px;
      }
    }
  }
}

@media only screen and (min-width: 767px) {
  .carousel {
    background-size: 100% 408px;

    &::before {
      height: 408px;
      background-image: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 212px,
        rgb(0, 0, 0) 408px
      );
    }

    .slide {
      left: 96px; // match the slides container padding value
      right: 96px; // match the slides container padding value
    }

    nav {
      .next,
      .prev {
        bottom: 120px;
        font-size: 62px;
      }

      .next {
        right: 16px;
      }

      .prev {
        left: 16px;
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  .carousel {
    background-size: 100% 600px;

    &::before {
      height: 600px;
      background-image: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 480px,
        rgb(0, 0, 0) 600px
      );
    }

    .slides {
      height: 288px;
    }

    .slide {
      left: 96px; // match the slides container padding value
      right: 96px; // match the slides container padding value
    }

    nav {
      .next,
      .prev {
        bottom: 144px;
      }

      .next {
        right: 24px;
      }

      .prev {
        left: 24px;
      }
    }
  }
}
