.promotionsLink {
	color: white;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-decoration: none;

	.icon + span {
		margin-left: 0px;
	}
}

@media only screen and (min-width: 1024px) {
  .navBar  {
    .navBarInner {
			.promotionsLink {
        @include xLargeText();
        flex-direction: row;
        .icon + span {
          margin-left: 16px;
        }
			}
    }
  }
}



