.secondaryNav {
  display: flex;
  flex: 1;
  flex-grow: 1;
  overflow: hidden;
  height: 100%;
  background: linear-gradient(to right,#001f5b,#002e88 45%,#001f5b) #001f5b;

	.list {
    flex-direction: row;
    height: 60px;
    display: flex;
	}

	.listItem {
		display: flex;
		flex: 0;
		padding: 0 12px;
	}

	//  a link in the context of the secondary nav
	.link {
		align-items: center;
		color: #fff;
		cursor: pointer;
    display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		text-decoration: none;
		transition: ease-in-out 0.1s;
		white-space: nowrap;
		width: 100%;

		&:hover,
		&:active,
		&.selected
		 {
			opacity: 1;
		}

		&.selected {
			cursor: initial;
		}

		&.selected::after {
			background-color: white;
			content:'';
			position: absolute;
			width: 100%;
			bottom: 0;
			height: 3px;
		}
	}
}

@media only screen and (min-width: 540px) {
	.secondaryNav {
		.listItem {
			padding: 0 18px;
		}
	}

}

@media only screen and (min-width: 1024px) {
	.secondaryNav {
		.link {
      @include xLargeText();
		}
		.listItem {
			padding: 0 24px;
		}
	}
}
