/* common / multi use components */
@import './common/compliance/styles';
@import './common/search/styles';
@import './common/horizontalScroller/styles';

/* app components */
@import './complianceHeader/styles';
@import './head/styles';
@import './navBar/styles';
@import './footer/styles';


.app {
  .complianceHeader {
      display: none;
    }
}

@media only screen and (min-width: 1024px) {
	.app {
    .complianceHeader {
      display: block;
    }
  }
}
