.compliance {
  display: flex;
  align-items: center;
  justify-content: center;

  .image {
    height: 32px;
  }

  .list {
    flex-direction: row;
    margin-left: 16px;

  }

  .listItem + .listItem {
    margin-left: 16px;
  }
}
