.horizontalScroller {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex: 1;
  z-index: 99;

  .button {
    color: white;
    height: 100%;
    @include xxxLargeText();
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 6px;
      bottom: 6px;
      right: 0;
      width: 1px;
      background-color: #a4b1cb;
    }

    &.disabled {
      cursor: default;
      opacity: 0.24;
    }

    &.scrollRight::after {
      right: initial;
      left: 0;
    }

    &.scrollLeft > .icon {
      transform: rotate(180deg);
    }
  }

  .horizontalScrollerWrapper {
    overflow: hidden;
    overflow-x: scroll;
    overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    &.on {
      .horizontalScrollerSignifier {
        background: linear-gradient(
          to right,
          rgba(0, 31, 91, 1),
          rgba(0, 31, 91, 0)
        );
        left: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 8px;
        z-index: 5;

        &:last-of-type {
          background: linear-gradient(
            to left,
            rgba(0, 31, 91, 1),
            rgba(0, 31, 91, 0)
          );
          left: initial;
          right: 0;
        }
      }
    }
  }

  .horizontalScrollerInner {
    height: 100%;
    overflow: auto;
    position: relative; // for signifier abs position
    width: 100%;
  }

  /// webkit
  .horizontalScrollerInner::-webkit-scrollbar {
    display: none;
  }
}
