.login {
  display: flex;
  align-items: center;

  .button {
    display: none;
  }

  .link {
    color: rgb(0, 31, 91);
    font-weight: 500;
  }
}

@media only screen and (min-width: 540px) {
  .login {
    .button {
      display: flex;
      margin-left: 16px;
    }
  }
}
