.logo {
	opacity: 1;

	.link {
		line-height: 1;
	}

	img {
		height: 24px;
	}
}


@media only screen and (min-width: 767px) {
  .logo {
    img {
      height: 32px;
    }
  }
}

// @media only screen and (min-width:1024px) {
//   .logo {
//     img {
//       height: 40px;
//     }
//   }
// }
