.userDetails  {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom: none;
	position: relative;
	background: #f9f9f9;
	cursor: pointer;
	padding: 12px;

	p {
		@include smallText();
		line-height: 1;
		text-align: right;
	}

	.expandedDetails {
		position: absolute;
		top: calc(100% - 1px);
		width: auto;
		right: 0;
		z-index: 98;
		background: #f9f9f9;
		min-height: 120px;
		min-width: 240px;
		padding: 12px;
		border: solid 1px transparent;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	&.on {
		cursor: default;
		z-index: 98;
	}
}
