$transition: 0.3s;

$container-width: 1200px;

$background-color: #f9f9f9;


$font-color: #333;
$font-color-muted: #666;
$font-color-strong: #000;

$content-background-color: #000;
$content-font-color: #f9f9f9;

$linkOpacity: 0.8;
$linkOpacity-hover: 1;
$imageLinkOpacity: 1;
